In [14]:
import pandas as pd
import seaborn as sns 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [15]:
df = pd.read_csv('/Users/awesome/Downloads/Data Analysis/HPD/HPD2021.csv', parse_dates = ['RMSOccurrenceDate'])

In [16]:
df.columns

Index(['Incident', 'RMSOccurrenceDate', 'RMSOccurrenceHour', 'NIBRSClass',
       'NIBRSDescription', 'OffenseCount', 'Beat', 'Premise', 'StreetNo',
       'StreetName', 'StreetType', 'Suffix', 'City', 'ZIPCode'],
      dtype='object')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246979 entries, 0 to 246978
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Incident           246979 non-null  int64
 1   RMSOccurrenceDate  246979 non-null  datetime64[ns]
 2   RMSOccurrenceHour  246979 non-null  int64
 3   NIBRSClass         246979 non-null  object
 4   NIBRSDescription   246979 non-null  object
 5   OffenseCount       246979 non-null  int64
 6   Beat               246825 non-null  object
 7   Premise            246979 non-null  object
 8   StreetNo           246312 non-null  object
 9   StreetName         246979 non-null  object
 10  StreetType         227949 non-null  object
 11  Suffix             36563 non-null   object
 12  City               246979 non-null  object
 13  ZIPCode            244147 non-null  object
dtypes: datetime64[ns](1), int64(3), object(10)
memory usage: 26.4+ MB

In [18]:
df.rename(columns={'RMSOccurrenceDate':'Date','RMSOccurrenceHour':'Occurrence Hour ', 'NIBRSDescription':'Description'}, inplace=True)

In [20]:
df.head(10)

,Incident,Date,Occurrence Hour,NIBRSClass,Description,OffenseCount,Beat,Premise,StreetNo,StreetName,StreetType,Suffix,City,ZIPCode
0,1621,2021-01-01,0,13A,Aggravated Assault,1,18F40,"Residence, Home (Includes Apartment)",8787,WOODWAY,DR,NaN,HOUSTON,77063
1,1621,2021-01-01,0,13B,Simple assault,1,18F40,"Residence, Home (Includes Apartment)",8787,WOODWAY,DR,NaN,HOUSTON,77063
2,8821,2021-01-01,0,35A,"Drug, narcotic violations",1,19G30,"Highway, Road, Street, Alley",13339,VERBENA,LN,NaN,HOUSTON,77083
3,8821,2021-01-01,0,23F,Theft from motor vehicle,1,19G30,"Highway, Road, Street, Alley",13339,VERBENA,LN,NaN,HOUSTON,77083
4,11721,2021-01-01,0,90C,Disorderly conduct,1,12D10,"Residence, Home (Includes Apartment)",8839,BARTON,ST,NaN,HOUSTON,77075
5,13321,2021-01-01,0,13B,Simple assault,1,19G10,"Residence, Home (Includes Apartment)",10202,CLUB CREEK,DR,NaN,HOUSTON,77036
6,17021,2021-01-01,0,13A,Aggravated Assault,1,19G10,"Residence, Home (Includes Apartment)",10630,BEECHNUT,ST,NaN,HOUSTON,77072
7,22021,2021-01-01,0,200,Arson,1,8C10,"Highway, Road, Street, Alley",8600,HOMESTEAD,RD,NaN,HOUSTON,77016
8,22721,2021-01-01,0,13A,Aggravated Assault,1,1A20,"Highway, Road, Street, Alley",635,WEBSTER,ST,NaN,HOUSTON,77002
9,26021,2021-01-01,0,290,"Destruction, damage, vandalism",1,17E30,"Residence, Home (Includes Apartment)",10680,WESTBRAE,PKWY,NaN,HOUSTON,77031

In [12]:
# df['Date'] = pd.to_datetime(df['Date'])

In [13]:
# df['Month'] = df['Date'].dt.month
# column_move1 = df['Month']
# df.drop(labels=['Month'], axis=1, inplace=True)
# df.insert(2,'Month', column_move1)

# df['Day'] = df['Date'].dt.day
# column_move2 = df['Day']
# df.drop(labels=['Day'], axis=1, inplace=True)
# df.insert(3,'Day', column_move2)

# df['Day_of_Week'] = df['Date'].dt.day_name()
# column_move3 = df['Day_of_Week']
# df.drop(labels=['Day_of_Week'], axis=1, inplace=True)
# df.insert(4,'Day_of_Week', column_move3)

# df['week_of_year'] = df['Date'].apply(lambda x: x.weekofyear)
# column_move4 = df['week_of_year']
# df.drop(labels=['week_of_year'], axis=1, inplace=True)
# df.insert(5,'week_of_year', column_move4)

# df['day_of_year'] = df['Date'].apply(lambda x: x.dayofyear)
# column_move5 = df['day_of_year']
# df.drop(labels=['day_of_year'], axis=1, inplace=True)
# df.insert(6,'day_of_year', column_move5)

In [26]:
df['row_num'] = np.arange(1, len(df) + 1)
column_move1 = df['row_num']
df.drop(labels=['row_num'], axis=1, inplace=True)
df.insert(0,'row_num', column_move1)

In [42]:
df.head()

,row_num,Incident,Date,Occurrence Hour,NIBRSClass,Description,OffenseCount,Beat,Premise,StreetNo,StreetName,StreetType,Suffix,City,ZIPCode
0,1,1621,2021-01-01,0,13A,Aggravated Assault,1,18F40,"Residence, Home (Includes Apartment)",8787,WOODWAY,DR,NaN,HOUSTON,77063
1,2,1621,2021-01-01,0,13B,Simple assault,1,18F40,"Residence, Home (Includes Apartment)",8787,WOODWAY,DR,NaN,HOUSTON,77063
2,3,8821,2021-01-01,0,35A,"Drug, narcotic violations",1,19G30,"Highway, Road, Street, Alley",13339,VERBENA,LN,NaN,HOUSTON,77083
3,4,8821,2021-01-01,0,23F,Theft from motor vehicle,1,19G30,"Highway, Road, Street, Alley",13339,VERBENA,LN,NaN,HOUSTON,77083
4,5,11721,2021-01-01,0,90C,Disorderly conduct,1,12D10,"Residence, Home (Includes Apartment)",8839,BARTON,ST,NaN,HOUSTON,77075

In [43]:
h_df = df[df['City']=='HOUSTON']
h_df.head()

,row_num,Incident,Date,Occurrence Hour,NIBRSClass,Description,OffenseCount,Beat,Premise,StreetNo,StreetName,StreetType,Suffix,City,ZIPCode
0,1,1621,2021-01-01,0,13A,Aggravated Assault,1,18F40,"Residence, Home (Includes Apartment)",8787,WOODWAY,DR,NaN,HOUSTON,77063
1,2,1621,2021-01-01,0,13B,Simple assault,1,18F40,"Residence, Home (Includes Apartment)",8787,WOODWAY,DR,NaN,HOUSTON,77063
2,3,8821,2021-01-01,0,35A,"Drug, narcotic violations",1,19G30,"Highway, Road, Street, Alley",13339,VERBENA,LN,NaN,HOUSTON,77083
3,4,8821,2021-01-01,0,23F,Theft from motor vehicle,1,19G30,"Highway, Road, Street, Alley",13339,VERBENA,LN,NaN,HOUSTON,77083
4,5,11721,2021-01-01,0,90C,Disorderly conduct,1,12D10,"Residence, Home (Includes Apartment)",8839,BARTON,ST,NaN,HOUSTON,77075